:root {
    --color-light: #fffaf6;
    --color-input: #f1ece7;
    --color-input-active: #ebe6e2;
    --color-dark: #232a36;
    --color-disabled: #a7a7a7;
}

body {
    padding: 15px 5vw 0 5vw;
    color: var(--color-dark);
    background-color: var(--color-light);
    overflow-x: hidden;
}
h1 {
    font-size: 2.5em;
}
h3 {
    border-bottom: 1px solid var(--color-dark);
    font-size: 1.3em;
    margin-bottom: 8px;
}
* {
    font-family: 'Quicksand', sans-serif; /* available fonts: Poppins, Nunito, Quicksand, Ubuntu */
    font-weight: 600;
    outline: none;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #2c2c2c;
}
::-webkit-scrollbar-thumb {
    background-color: #686868;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #8b8b8b;
}

/* ======================================= input ======================================== */
input {
    margin: 10px 5px 5px 0;
    font-size: 0.9em;
    background-color: var(--color-input);
    padding: 7px;
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    border-radius: 3px;
    width: 50vw;
}
input:focus, button:active {
    background-color: var(--color-input-active);
}
::placeholder {
    color: #717e92;
}
button {
    min-width: 35px;
    font-size: 0.9em;
    background-color: var(--color-input);
    padding: 7px;
    border-radius: 5px;
    margin-right: 5px;
}
button:enabled {
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    cursor: pointer;
}
button:disabled {
    color: var(--color-disabled);
    border: 1px solid var(--color-disabled);
}

/* ====================================== messages ====================================== */
#messageList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: -15px;
}
#messageList li {
    padding-top: 15px;
    max-width: 40vw;
    word-break: break-all;
}
#userlist {
    list-style: none;
    margin-left: -15px;
}
#userList li {
    cursor: pointer;
    margin-top: 15px;
}
.keyExchange {
    float: right;
}
.small {
    font-size: 12px;
    margin-bottom: 3px;
}
.smaller {
    font-size: 15px;
}
.cropped {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 255px;
    overflow: hidden;
}
.message {
    margin-left: 20px;
}

/* ======================================= colors ======================================= */
.red {
    color: #ff1010 !important;
}
.darkred {
    color: #9c2323;
}
.green {
    color: #009c3c !important;
}
.lightBlue {
    color: #1cb3ff !important;
}
.darkBlue {
    color: #3866ff !important;
}
div.lightBlue::after, div.darkBlue::after {
    content: " 🔐";
}
.hidden {
    display: none;
}

/* ======================================== menu ======================================== */
.openMenu {
    float: right;
    cursor: pointer;
    transition: .2s;
}
.closeMenu {
    float: right;
    cursor: pointer;
    transition: .2s;
}
.openMenu:hover, .closeMenu:hover {
    color: #4680ff;
}
#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: -1000;
    background: rgba(85, 85, 85, 0.9);
    transition: .2s;
}
#overlay p {
    margin-top: 30px;
}
#info {
    z-index: 2;
    width: 80vw;
    background-color: var(--color-light);
    border-radius: 8px;
    padding: 0 20px 0 20px;
}
caption {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}
table {
    border-collapse: collapse;
}
td {
    padding: 5px 30px 5px 5px;
    margin: 0;
    border: 1px dashed #555555;
}